* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

#burger {
  position: relative;
  left: 85%;
}

#burger:hover {
  cursor: pointer;
}

#side-nav {
  z-index: 30;
  display: none;
  position: fixed;
  padding: 1% 1% 1% 0%;
  right: 0px;
  top: 0px;
  width: 22rem;
  min-height: 80vh;
  background-color: whitesmoke;
  border: solid black 1px;
}

#side-nav p {
  padding: 1em;
  margin: 0px;
}

#side-nav p:hover {
  background-color: rgb(227, 223, 223);
  cursor: pointer;
}

#pt1 {
  border-bottom: solid grey 1px;
}

#pt2 {
  border-bottom: solid grey 1px;
}

.yellow-bar {
  position: absolute;
  display: none;
  top: 3.7rem;
  left: 17vw;
  height: 0.4em;
  width: 6.3rem;
  background-color: rgba(235, 196, 56, 0.9);
  z-index: 100;
}

.yellow-bar.start {
  left: 17vw;
  width: 7rem;
  display: block;
}

.pri {
  left: 25vw;
  width: 7rem;
}

.res {
  left: 33.8vw;
}

.lib {
  left: 41vw;
}

.his {
  left: 46vw;
}

.pro {
  left: 51vw;
}

#nav {
  width: 100vw;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid lightgrey 4px;
  background-color: whitesmoke;
}

#nav-logo {
  max-width: 12vw;
  overflow: hidden;
  margin-left: 3%;
}

#logo {
  display: block;
  max-width: 100%;
  height: auto;
}

#navlinks-left {
  position: relative;
  right: 0%;
  padding-left: 0%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  min-width: 60%;
  list-style: none;
}

#navlinks-left li {
  text-transform: uppercase;
  margin: 1%;
}

#navlinks-left li:hover {
  cursor: pointer;
}

#navlinks-right {
  right: 1rem;
  display: flex;
  align-items: center;
  min-width: 12%;
  list-style: none;
  margin-right: 3%;
}

#navlinks-right li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6vh;
  min-width: 6vh;
  margin-right: 1%;
  color: rgb(88, 86, 86);
}

#navlinks-right li:hover {
  cursor: pointer;
  color: black;
}

#navlinks-right #drop {
  display: none;
}

#me {
  max-height: 0.5vh;
  max-width: 0.5vh;
  overflow: hidden;
  border-radius: 50%;
}

#me img {
  display: block;
  width: 100%;
  height: auto;
}

#help {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 5%;
  top: 7.2%;
  height: 20vh;
  width: 10rem;
  background-color: white;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#help p {
  display: flex;
  align-items: center;
  padding-left: 1em;
  width: 100%;
  height: 33%;

  margin-block: 0%;
}

#help p:hover {
  background-color: rgb(211, 211, 211, 0.4);
  cursor: pointer;
}

#profile {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 5%;
  top: 7.2%;
  min-height: 15vh;
  width: 15rem;
  background-color: white;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  z-index: 20;
}

#profile p {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 14%;
  margin-block: 1%;
}

#profile p:hover {
  background-color: rgb(211, 211, 211, 0.4);
  cursor: pointer;
}

#switch {
  border-top: solid rgb(178, 176, 176) 0.5px;
  padding-top: 2%;
  width: 100%;
  height: 50%;
}

#switch p {
  padding-block: 5%;
}

#bell {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 5%;
  top: 7.2%;
  height: 40vh;
  width: 25rem;
  background-color: white;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  overflow: scroll;
  padding-bottom: 0.5em;
  z-index: 20;
}

#bell h3 {
  font-weight: 300;
  padding-left: 1em;
  margin-bottom: 0.2em;
}

.note-card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-bottom: solid rgb(0, 0, 0, 0.5) 1px;
}

.note-card:hover {
  background-color: rgb(211, 211, 211, 0.2);
  cursor: pointer;
}

#note-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 4rem;
  font-size: 2rem;
  font-weight: 200;
  border-radius: 50%;
  margin-bottom: 1%;
  margin-left: 1em;
  margin-top: 1rem;
  background-color: rgb(178, 178, 177);
}
.note-note {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding-left: 1em;
}

.note-note h5 {
  font-size: 1.1rem;
  font-weight: 530;
  margin: 0px;
  padding: 0px;
  margin-top: 1em;
}

.note-note p {
  color: rgba(116, 114, 114, 0.967);
  margin-top: 0.2em;
}

#messages {
  display: flex;
  display: none;
  flex-direction: column;
  position: absolute;
  right: 5%;
  top: 7.2%;
  height: 40vh;
  width: 25rem;
  background-color: white;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 20;
}

#messages-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0px;
  height: 1.5rem;
  width: 100%;
  border-bottom: solid grey 1px;
  padding: 1em;
}

#messages-top button {
  width: 30%;
  color: rgb(217, 23, 23);
  padding: 1%;
  background-color: white;
  border: none;
}

#messages-top button:hover {
  background-color: rgb(235, 196, 56, 0.9);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#messages-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 2rem;
  height: 19rem;
  width: 100%;
  padding: 1%;
  overflow: scroll;
  margin-top: 1rem;
}

.messages-card {
  width: 100%;
  height: 5rem;
  padding: 1%;
  display: flex;
}

.messages-card:hover {
  background-color: rgb(236, 235, 235);
  cursor: pointer;
}

.mcard-pic {
  width: 20%;
  padding: 1%;
}

.mcard-pic img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.mcard-message {
  width: 80%;
  padding: 2%;
}

.m-row-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.m-row-one p {
  margin: 0px;
}

.m-row-two {
  width: 100%;
  text-align: left;
}

#messages-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  height: 7%;
  width: 100%;
  border-top: solid grey 1px;
  padding: 1em;
  z-index: 15;
  text-transform: uppercase;
  background-color: inherit;
}

#messages-bottom:hover {
  background-color: rgb(236, 233, 233);
  cursor: pointer;
}

#phone {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 5%;
  top: 7.2%;
  min-height: 30vh;
  width: 25rem;
  background-color: white;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 20;
}

#error404 {
  background-color: white;
  height: 92vh;
  display: flex;
  display: none;

  justify-content: center;
  align-items: center;
  z-index: 2;
}

#error-container {
  display: flex;
  justify-content: center;
  height: 70%;
  width: 100%;
}

#error-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  position: relative;
  left: 10%;
}

#error-left h3 {
  font-size: 3rem;
  margin: 0px;
}

#error-left p {
  width: 70%;
  margin-block: 2em;
  font-size: 1.5rem;
}

#error-left button {
  width: 40%;
  margin-block: 2em;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #228891;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

#error-left button:hover {
  cursor: pointer;
  background-color: #1e4d5f;
}

#error-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 30%;
  height: 100%;
}

#error-message {
  height: 70%;
  width: 80%;
  flex: none;
}

main {
  background-color: rgb(239, 242, 246);
  height: 92vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.box {
  width: 800px;
  max-height: 700px;
  background-color: white;
  border-radius: 25px;
  margin-block: 1.5rem;
  padding: 2%;
  color: grey;
  overflow: hidden;
}

#timezone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

#timezone-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

#volume {
  position: relative;
  right: 37%;
  color: black;
  font-size: 1rem;
  display: none;
}

#volume-sm {
  position: relative;
  right: 37%;
  color: black;
  font-size: 1rem;
  display: none;
}

#volume-off {
  position: relative;
  right: 37%;
  color: black;
  font-size: 1rem;
}

#volume-off-sm {
  position: relative;
  right: 37%;
  color: black;
  font-size: 1rem;
}

#visible {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px lightgray;
}

#visible-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px lightgray;
  margin: -1em;
  border-width: 60%;
}

#form {
  display: none;
  margin-left: 1%;
  border-radius: 20px;
}

#form-sm {
  display: none;
  margin-left: 1%;
  border-radius: 20px;
}

select {
  padding: 5%;
}

#toggle {
  margin-inline: 1%;
  font-size: 1rem;
}

#toggle-sm {
  margin-inline: 1%;
  font-size: 1rem;
}

#toggle-on {
  display: none;
  margin-inline: 1%;
  font-size: 1rem;
}

#toggle-on-sm {
  display: none;
  margin-inline: 1%;
  font-size: 1rem;
}

#toggle:hover,
#toggle-on:hover,
select,
#volume,
#volume-off {
  cursor: pointer;
}

#toggle-sm:hover,
#toggle-on-sm:hover,
#volume-sm,
#volume-off-sm {
  cursor: pointer;
}

#incoming {
  padding-left: 2.2rem;
  border-bottom: solid 1px lightgray;
}

#incoming-sm {
  padding-left: 1.5rem;
  border-bottom: solid 1px lightgray;
}

#upcoming {
  color: rgb(9, 9, 9);
  display: flex;
  padding-inline: 2rem;
  justify-content: space-between;
}

#upcoming-sm {
  color: rgb(9, 9, 9);
  display: flex;
  padding-inline: 1.5rem;
  justify-content: space-between;
}

#expand-less {
  display: none;
}

#expand-less-sm {
  display: none;
}

#expand:hover,
#expand-less:hover {
  cursor: pointer;
}

#expand-sm:hover,
#expand-less-sm:hover {
  cursor: pointer;
}

#show-upcoming {
  display: none;
}

#show-upcoming-sm {
  display: none;
}

#show-upcoming-sm .date {
  position: relative;
  left: 30%;
}

.card {
  display: flex;
  border-bottom: solid rgb(48, 48, 48, 0.2) 1px;
  padding-bottom: 0.3rem;
  width: 100%;
}

.cal-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1rem;
}

.date {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

p.num {
  font-size: 2rem;
  margin-block: 0px;
  color: black;
}

.cal-right {
  width: 75%;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
}

.lightblue {
  display: flex;
  align-items: center;
  padding: 3%;
  justify-content: space-between;
  width: 100%;
  height: 70%;
  background-color: lightblue;
  border-radius: 20px;
}

.blue-logo {
  height: 73%;
  width: 10%;
  border-radius: 100%;
  background-image: url("./bluelogo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.class-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 2%;
}

.class-info p {
  margin: 0%;
}

.lightblue button {
  padding-block: 2%;
  padding-inline: 4%;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: teal;
}

.lightblue button:hover {
  cursor: pointer;
  background: rgb(243, 242, 242);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.footer .links {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.links a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.85rem;
  min-width: fit-content;
}

.links a:hover {
  text-decoration: underline;
}

.footer .socials {
  display: flex;
  justify-content: space-between;
  min-width: 160px;
  margin-left: 0.8rem;
  filter: grayscale(10);
}

.footer .socials a {
  width: 20px;
  height: 20px;
  padding: 0.2rem;
}

#twitter {
  background-image: url("./twitter_logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#insta {
  background-image: url("./instagram_logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#facebook {
  background-image: url("./facebook_logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#youtube {
  background-image: url("./youtube_social_square-logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#copyright {
  margin-top: 1%;
  text-align: center;
  background-color: rgb(239, 242, 246);
}

@media only screen and (max-width: 400px) {
  .footer {
    flex-direction: column;
    width: 100vw;
    background-color: rgb(239, 242, 246);
  }

  .footer .links {
    margin-top: 5%;
  }

  .socials {
    margin-block: 2%;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
  }

  .date {
    position: relative;
    left: 35%;
  }

  #messages {
    width: 20rem;
  }

  #error-message {
    right: 20%;
    position: relative;
    height: 70%;
    width: 200%;
  }

  #error-left {
    position: relative;
    z-index: 10;
  }

  #error-left h3 {
    font-size: 1.5rem;
    margin: 0px;
  }

  #error-left p {
    font-size: 1rem;
  }

  .yellow-bar,
  .yellow-bar.start {
    display: none;
  }

  #phone {
    right: 0%;
    width: 21rem;
  }

  #nav-logo {
    width: 40%;
  }
}

@media only screen and (max-width: 761px) {
  .footer .links {
    flex-direction: column;
    width: 30%;
    position: relative;
    right: 15%;
  }

  .links a {
    width: max-content;
  }

  #copyright {
    margin: 0px;
    width: 100%;
  }

  #nav-logo {
    max-width: 25%;
  }
}

@media only screen and (max-width: 901px) {
  #nav-logo {
    min-height: 3rem;
    min-width: 15vw;
    display: flex;
    align-items: center;
  }

  #navlinks-left,
  #navlinks-right #chat,
  #navlinks-right #notify,
  #navlinks-right #me {
    display: none;
  }

  #navlinks-right #drop {
    display: block;
    position: relative;
    left: 0.25rem;
    top: 0.25rem;
  }
  .yellow-bar.start {
    display: none;
  }
}

@media only screen and (max-width: 1030px) and (min-width: 761px) {
  .footer .links a {
    margin: 1%;
  }
}

@media only screen and (max-width: 901px) and (orientation: landscape) {
  .yellow-bar.start {
    display: none;
  }

  #error-container {
    margin-top: 5vh;
  }

  #error-left h3 {
    font-size: 1.5rem;
    margin: 0px;
  }

  #error-left p {
    font-size: 1rem;
  }
}
